
@model Group17_iCAREAPP.Models.TreatmentRecord

<style>
    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
    }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #004085;
        }

    .btn-secondary {
        background-color: #6c757d;
        border-color: #6c757d;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
    }

        .btn-secondary:hover {
            background-color: #5a6268;
            border-color: #545b62;
        }

    .form-control-static {
        padding: 10px;
        margin-bottom: 5px;
    }

    .form-horizontal .form-group {
        margin-bottom: 15px;
    }
</style>

<h2>Add Treatment</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Patient Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p class="form-control-static">@ViewBag.patientName</p>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Worker Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p class="form-control-static">@User.Identity.Name</p>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Treatment Date", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p class="form-control-static">@ViewBag.thedate</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>
        <input type="hidden" name="patientID" value="@ViewBag.patientId" />
        <input type="hidden" name="workerID" value="@ViewBag.workerId" />
        <input type="hidden" name="treatmentDate" value="@ViewBag.thedate" />
        <input type="hidden" name="treatmentID" value="@ViewBag.treatmentId" />


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary btn-lg" />
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index", "MyBoard")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

